.header
{
	margin:5vw 20vw;
	border:2px solid black;
	border-radius: 10px;
	padding:20px;
}
.top
{
	font-family: 
}
.btn
{
	padding-left:5vw;
	padding-right: 5vw;
}
#tc
{
	font-size: 5vw;
}
p
{
	font-size: 3vw;
}